.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.staff-section {
  cursor: pointer;
  overflow: hidden;
}

.staff-section:hover .staff {
  background-color: #2d2d44;
  border-radius: 20px;
}

.palette-and-saved-songs {
  display: flex;
  gap: 20px;
}

.staff-row {
  padding-block: 10px;
}
